#home {
  background-image: url("../assets/world.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home:hover {
  background-image: url("../assets/world.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home nav {
  margin: 0 auto;
  width: 700px;
  padding-top: 110px;
}

#home nav ul {
  overflow: hidden;
}

#home nav ul li {
  width: 25%;
}

#home nav a {
  padding: 20px;
  padding-right: 30px;
  display: table-cell;
}

#home nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
  padding: 0;
  transition: background-color .8s;
}

#home nav.fixed ul {
  max-width: 700px;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(4, 14, 22, .83);
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
}

.vertical-list li {
  float: left;
}

li {
  list-style: disc;
}

a {
  color: white;
}

a:focus {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F9083B;
}
