#home {
  background-image: url("../assets/world.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home:hover {
  background-image: url("../assets/world.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home nav {
  margin: 0 auto;
  width: 700px;
  padding-top: 110px;
}

#home nav ul {
  overflow: hidden;
}

#home nav ul li {
  width: 25%;
}

#home nav a {
  padding: 20px;
  padding-right: 30px;
  display: table-cell;
}

#home nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
  padding: 0;
  transition: background-color .8s;
}

#home nav.fixed ul {
  max-width: 700px;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(4, 14, 22, .83);
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
}

.vertical-list li {
  float: left;
}

li {
  list-style: disc;
}

a {
  color: white;
}

a:focus {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F9083B;
}

h1 .logo:hover {
  font-size: 50px;
  font-family: Bookman;
  width: 200px;
  margin-left: -20px;
  color: #F98108;
}

h1 {
  font-family: Palatino;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #B5031B;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 500px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

#greeting {
  color: #00FFCC;
  background-color: #000000;
  font-family: Bookman;
  font-size: 35px;
}
